.car-info {
  height: 100%;
  background-image: url('/assets/img/background/home_bg.png');
  background-repeat: no-repeat;
  background-position: center 0px;
    background-size: 100% auto;

  .title {
    padding: 30px 0 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    background-color: rgb(255, 255, 255, 0.1);
  }

  .content {
    width: 98%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.4);    

    img {
      margin: 15px;
      background-color: #fefefe;
    }
  
    .info {
      min-height: 400px;
      min-width: 600px;
      padding: 20px 10px;
      margin: 15px;
      

      div {
        margin: 24px;
        font-size: 18px;
        line-height: 18px;

        .info-title {
          margin-right: 10px;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        label {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        button {
          width: 240px;
          height: 60px;
          color: #1a1a1a;
          font-size: 16px;
          border: 1px solid rgb(255, 255, 255, 0.2);
          margin: 10px 20px 15px 0;
        }

        .buy {
          background-color: rgba(184, 45, 68, 0.1);
        }

        .buy:hover {
          background-color: rgba(184, 45, 68, 0.2);
        }

        .break {
          background-color: rgba(63, 236, 63, 0.1);
        }

        .break:hover {
          background-color: rgba(63, 236, 63, 0.2); 
        }
      }
    }
  }

  
}