.login {
  height: 100%;
  background-color: #54364a;
  background-size: cover;
  background-image: url('/assets/img/background/login_bg.jpg');

  .title {
    height: 100px;
    width: 200px;
  }

  .form-box {
    margin: auto;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .input-group-addon {
      width: 40px;
      height: 45px;
      padding: 10px 5px;
      font-size: 18px;
      line-height: 1.33;
      text-align: center;
      font-weight: normal;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 6px;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }

    input {
      height: 45px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 6px;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .btn-box {
    margin: auto;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-top: 0;
  }
}

.buzz {
  animation-name: buzz-out;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0deg);
  }
}

@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0deg);
  }
}