<div class="login text-light pt-3" (keyup.enter)="login()">
  <div class="title mx-auto pt-5 fw-lighter fs-4 text-center">Sign In</div>

  <form id="box" class="form-box p-4">
    <div class="form-group">
      <label for="username" class="fs-5 my-3">Username</label>

      <div class="input-group input-group-lg">
        <span class="input-group-addon inline-block"><i class="bi bi-person"></i></span>
        <input [(ngModel)]="loginInfo.username" class="form-control fs-6" type="text" id="username" name="username" placeholder="Your Username">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="fs-5 my-3">Password</label>

      <div class="input-group input-group-lg">
        <span class="input-group-addon inline-block"><i class="bi bi-lock-fill"></i></span>
        <input [(ngModel)]="loginInfo.password" class="form-control fs-6" type="password" id="password" name="password" placeholder="Your Password">
      </div>
    </div>
  </form>

  <div class="btn-box form-group d-flex justify-content-around">
    <button (click)="login()" class="l-button btn my-2" type="submit">Login</button>
    <button (click)="toRegister()" class="r-button btn my-2" type="submit">Register</button>
  </div>
</div>