<d-data-table class="m-4" [dataSource]="cars" [tableWidthConfig]="tableWidthConfig" [scrollable]="true" [type]="'striped'">
  <thead dTableHead>
    <tr dTableRow>
      <th dHeadCell>#</th>
      <th dHeadCell *ngFor="let col of dataTableOptions">{{ col.header }}</th>
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
      <tr dTableRow>
        <td dTableCell class="devui-checkable-cell">
          <d-checkbox [ngModel]="rowItem.$checked" (ngModelChange)="onCheckChange(rowItem)"></d-checkbox>
        </td>
        <td dTableCell *ngFor="let col of dataTableOptions">
          {{ rowItem[col.field] }}
        </td>
      </tr>
    </ng-template>
  </tbody>
</d-data-table>

<div class="btn-group float-end me-5" role="group" aria-label="Basic example">
  <button (click)="carDown()" type="button" class="btn btn-danger">汽车下架</button>
  <button (click)="carUp()" type="button" class="btn btn-success">恢复上架</button>
</div>
