.add-car {
  margin-top: 100px;
  background: rgb(250, 250, 250, 0.4);
  font-size: 14px;

  .modal-title {
    margin: 0 auto;
    padding-left: 100px;
  }

  input {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    background: rgb(255, 255, 255, 0.4);
  }

  input:hover, input:focus {
    box-shadow: none;
    outline: none;
  }

  button {
    background-color: rgb(145, 255, 255, 0.6);
    border: none;
  }

  button:hover {
    background-color: rgb(147, 156, 255, 0.6);
  }

  select, option {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(255, 255, 255, 0.4);
  }

  select:hover, select:focus, option:hover, option:focus {
    box-shadow: none;
    outline: none;
  }

  textarea {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(255, 255, 255, 0.4);
  }

  textarea:focus {
    box-shadow: none;
    outline: none;
  }

  .modal-footer button {
    width: 120px;
  }
}